.flickr-slider {
  position: relative;
}
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 18px;
}
.swiper {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
}
.swiper-for {
  width: 75%;
  margin: 0 auto;
  object-fit: contain;
}
.swiper-nav {
  box-sizing: border-box;
  height: 20%;
  padding: 10px 0;
}
.swiper-nav .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}
.swiper-nav .swiper-slide-thumb-active {
  opacity: 1;
}
.swiper-for img {
  width: 100% !important;
  height: 550px;
  margin: 0 auto;
  object-fit: contain;
}
.swiper-nav img {
  width: 97% !important;
  height: 150px !important;
  margin: auto;
  margin-top: 1px !important;
  border: #fff solid 3px;
}
.swiper-nav {
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #000;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  margin-left: 4vw;
  content: url("../images/arrow.svg") !important;
  opacity: 1;
}
.swiper-button-prev,
.swiper-button-next {
  scale: 2;
  top: var(--swiper-navigation-top-offset, 85%);
}
.swiper-button-prev {
  margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
  transform: rotate(180deg) !important;
}
.swiper-button-next {
  margin-bottom: calc(0px - (var(--swiper-navigation-size) / 2));
}
.full-screen-image {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}
.full-screen-image img {
  display: block;
  max-width: 60% !important;
  object-fit: contain;
}
.close-btn {
  position: absolute;
  cursor: pointer;
  color: #fff;
  font-size: 30px;
}
.close-btn {
  top: 20px;
  right: 20px;
}
@media (max-width: 1366px) {
  .swiper-for img {
    height: 475px;
  }
}
@media (max-width: 1024px) {
  .swiper-button-prev::after,
  .swiper-button-next::after {
    margin-left: 5vw;
  }
}
@media (max-width: 991px) {
  .swiper-for img {
    height: 300px;
    object-fit: contain;
  }
  .flickr-slider .swiper-nav {
    width: 85%;
  }
  .swiper-button-prev {
    top: var(--swiper-navigation-top-offset, 80%);
  }
  .swiper-button-next {
    top: var(--swiper-navigation-top-offset, 81%);
  }
  .swiper-button-prev::after,
  .swiper-button-next::after {
    margin-left: 2vw;
  }
}
@media (max-width: 480px) {
  .swiper-button-prev::after,
  .swiper-button-next::after {
    margin-left: 7vw !important;
  }
  .swiper-button-prev,
  .swiper-button-next {
    scale: 1.5;
  }
}
