{#
/**
 * @file
 * Default theme implementation for displaying a Flickr slider.
 *
 * Available variables:
 * - data: An array of photos/videos to display.
 *
 * @see template_preprocess_flickr_slider()
 *
 * @ingroup themeable
 */
#}
{% if data %}
  <div class="flickr-slider" id="{{ data.id }}">
    <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper swiper-for">
      <div class="swiper-wrapper">
        {% for media in data.media %}
          {% if media.type == 'photo' %}
            <div class="swiper-slide slider-banner-image">
              {{ media.photo }}
            </div>
          {% elseif media.type == 'video' %}
            <div class="swiper-slide slider-banner-video">
              <video controls>
                <source src="{{ media.video_url }}">
              </video>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
    <div thumbsSlider="" class="swiper swiper-nav">
      <div class="swiper-wrapper">
        {% for media in data.media %}
          <div class="swiper-slide thumbnail-image">
            <img src="{{ media.photo['#uri'] }}" alt="{{ media.photo['#alt'] }}">
          </div>
        {% endfor %}
      </div>

    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
{% endif %}
